.addclientcomponent{
    .submit-button{
        padding-left: 7px;
        padding-top: 11px;
        display: flex;
     
            .p-button{
                margin-right: 9px ;
            }
        
    }
    input {     
        width: 50%;     
    }
 
}